pipeline/ifpipeline.json
{
	"name": "ifpipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText4",
						"type": "DatasetReference",
						"parameters": {
							"ds_file_system": {
								"value": "@pipeline().parameters.pp_file_system",
								"type": "Expression"
							},
							"ds_directory_in": {
								"value": "@pipeline().parameters.pp_directory_in",
								"type": "Expression"
							},
							"ds_file_name": {
								"value": "@pipeline().parameters.pp_file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'txt')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Falsewait",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 2
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_file_system": {
				"type": "string"
			},
			"pp_directory_in": {
				"type": "string"
			},
			"pp_file_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}